bin/
*/bin/
*/*/bin/
*/*/*/bin/
*/*/*/*/bin/

.vs
*/.vs
*/*/.vs
*/*/*/.vs
*/*/*/*/.vs

.obj
*/.obj
*/*/.obj
*/*/*/.obj
*/*/*/*/.obj

.Debug
*/.Debug
*/*/.Debug
*/*/*/.Debug
*/*/*/*/.Debug

.exe
*/.exe
*/*/.exe
*/*/*/.exe
*/*/*/*/.exe

.x64
*/.x64
*/*/.x64
*/*/*/.x64
*/*/*/*/.x64

.metadata
*/.metadata
*/*/.metadata
*/*/*/.metadata
*/*/*/*/.metadata

Debug
*/Debug
*/*/Debug
*/*/*/Debug
*/*/*/*/Debug

Release
*/Release
*/*/Release
*/*/*/Release
*/*/*/*/Release